.garden {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: clamp(1rem, 8vh, 200px);
  margin-bottom: 196px; 
  position: relative;

  @include tablets {
    margin-bottom: 108px;
  }

  @include phones {
    margin-bottom: 87px;
  }

  &::before {
    content: '';
    position: absolute;
    top: clamp(200px, 40vh, 400px);
    left: 0;
    width: clamp(180px, 30vw, 512px);
    height: clamp(130px, 25vw, 385px);
    transform: translateY(-50%);
    background-image: url('../img/garden-bg-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: clamp(200px, 40vh, 400px);
    right: 0;
    transform: translateY(-50%);
    width:  clamp(180px, 30vw, 512px);
    height: clamp(130px, 25vw, 385px);
    background-image: url('../img/garden-bg-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  &__title {
    padding: 0 65px;
    @include h2;
    margin-bottom: 53px;
    color: $black;
    text-align: center;

    .bold{
      font-weight: bold;
    }

    @include tablets {
      padding: 0 20px; 
    }

    @include phones {
      padding: 0 16px; 
      @include h5;
      margin-bottom: 40px;
    }
  }

  &__description {
    @include h5;
    color: $black;
    max-width: clamp(800px, 60%, 600px);
    text-align: center;
    margin: 0 auto;
    padding: 0 65px;

    @include tablets {
      padding: 0 20px; 
      width: 100%;
    }

    @include phones {
      padding: 0 16px; 
      @include font-size-smallest;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;

    @include tablets {
      grid-template-columns: repeat(1, 1fr);
    }

    @include phones {
      gap: 10px;
    }
  }
  
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}