.hero {
  position: relative;
  background: url('../img/hero-bg.jpg') no-repeat center center / cover;
  color: $white;
  margin-bottom: 211px;

  @include phones {
    background: url('../img/hero-bg-phones.jpg') no-repeat center center / cover;
    margin-bottom: 47px;
    height: 566px;
  }

  &::before { 
    content: ''; 
    position: absolute; 
    top: 50%; 
    right: -2%; 
    transform: translateY(-50%); 
    width: 483px;
    height: 363px; 
    background-image: url('../img/hero-decoration-bg.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    z-index: 1;
    pointer-events: none; 

      @include tablets {
        top: 75%;
        right: 0;  
        width: 281px;
        height: 231px; 
      }

      @include phones {
        top: 60%; 
        right: -5%; 
        width: 181px;
        height: 131px; 
      }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    padding: 0 clamp(1rem, 8vw, 290px);
    gap: clamp(1rem, 15vh, 300px);

    @include desktop {
      margin-top: 100px;
    }

    @include phones {
      padding: 0 16px; 
      min-height: auto; 
      margin-bottom: 47px;
      margin-top: 112px;
      gap: 132px;
    }
  }

  &__content {
    max-width: 980px;
    margin-top: auto;    
  }

  &__subtitle {
    @include h5;
    margin-bottom: 12px;

    @include phones {
      @include font-size-smallest;
      margin-bottom: 10px;
    }
  }

  &__title {
    @include h1;
    margin-bottom: 12px;

    @include phones {
      @include h5;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }

  &__description {
    @include h3;

    @include phones {
      @include h6;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 8vw, 5rem);
    margin-bottom: 40px;
  }

  &__project-link {
    @include font-size-project-link;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: rgba($brown, 0.52); 
    backdrop-filter: blur(4px); 
    color: $white;
    transition: transform 0.3s, background 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      @include phones {
        @include font-size-smallest;
        padding: 17px 7px;
      }
  }

  &__arrow {
    margin-left: 21px;
    height: 12px;
    transition: transform 0.3s;

    img {
      height: 12px;
      width: 33px;
      object-fit: cover;
    }
  }

  &__project-image {
    margin-left: 64px;
    width: 109px;
    height: 87px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablets {
      display: none;
    }
  }

  &__arrows {
    display: flex;
    gap: clamp(1rem, 8vw, 149px);

    @include tablets {
      display: none;
    }
  }

  &__arrow-btn {
    width: 33px;
    height: 15px;
    border: none;
    background: url('../icons/hero_arrow-next.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: translateX(5px);
    }

    &--prev {
      width: 33px;
      height: 15px;
      border: none;
      background: url('../icons/hero_arrow-prev.svg') no-repeat center;
      background-size: contain;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: translateX(-5px);
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    @include geometria-400-font;

    @include desktop {
      display: none;
    }
  }

  &__current-slide {
    font-weight: 700;
  }

  &__divider {
    display: inline-flex;
    align-items: center;
  
    img {
      margin: 0 5px; 
    }
  }

  &__total-slides {
    font-weight: 300;
  }
}